<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>资源浏览器 - NFLSIO</title>
    <link rel="stylesheet" href="{{ asset('app/app.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="renderer" content="webkit">
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
        @import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
    </style>
</head>
<body>
<div id="app">
    <strong>请更换至主流浏览器（最新版Chrome或者是Firefox） </strong>
</div>
<script src="{{ asset('app/app.js') }}"></script>
</body>
</html>
